.borderrainbow {
  border: 3px;
  border-style: solid;
  animation: rainbow 2s infinite alternate;
}

.background-rainbow:hover {
  background-image: linear-gradient(45deg, yellow, red, blue, green);
  background-size: 400% 400%;
  animation: rainbowbg 5s ease infinite;
}

@keyframes rainbowbg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes rainbow {
  from {
    border-color: red;
  }
  to {
    border-color: green;
  }
}
